.CompanyEditor
  display: grid;
  padding: 20px;
  justify-content: center;
  grid-template-columns: 30% 50%;
  grid-template-rows: 12% 82%;
  row-gap: 20px;
  grid-template-areas: "CompanyList CompanyInfo" "CompanyList CompanyMap";

ul
  list-style: none